:root {
    --biografia-black: #111111;
    --biografia-dark-blue: #1a2637;
    --biografia-red: #e74c3c;
    --biografia-light-gray: #7f8c8d;
    --biografia-hover-highlight: #ff5733; 
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--biografia-black);
    color: #e74c3c;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--biografia-dark-blue);
    color: white;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e74c3c;
}

/* Barra de navegación */
.navbar {
    background-color: var(--biografia-dark-blue);
    border-bottom: 3px solid var(--biografia-red);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.8rem;
    color: var(--biografia-red) !important;
    font-weight: bold;
}

.nav-link {
    color: var(--biografia-light-gray) !important;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s, background 0.3s;
}



footer {
    background-color: var(--biografia-dark-blue);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
}
